@charset "UTF-8";
/* color */
/* mixin base */
/* mixin plus */
/* base */
body {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: #28201d;
  background-color: #f0dcc8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html {
  scroll-behavior: smooth;
}

/* btn */
.btn {
  display: block;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.9375em 1.25em;
}

.btn--service {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: #5f4c45 2px solid;
  box-shadow: 0 4px 0 #2f2923;
  background-color: #fff4ea;
  margin-top: 7.5em;
}
.btn--service:hover {
  transform: translateY(4px);
  box-shadow: none;
}

/* header */
.header {
  color: #5f4c45;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff2e5;
  transition: background-color 0.3s;
  padding: 0.1875em 0;
}

.header__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 88%;
}
@media (1100px <= width) {
  .header__logo img {
    width: 100%;
  }
}

header.transparent,
.contactPage header {
  background-color: rgba(255, 242, 229, 0.8);
}

/* header nav全体 */
.header__nav {
  position: relative;
}

.header .nav {
  background-color: #fff2e5;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  z-index: 1500;
  transform: translateX(100%);
  /* 初期状態で右に隠す */
  transition: transform 0.3s ease;
  overflow-y: scroll;
  /* サブメニュー (モバイル用: 初期非表示) */
}
@media (700px <= width) {
  .header .nav {
    width: 50%;
  }
}
@media (1100px <= width) {
  .header .nav {
    /* PCではスライドインなし */
    display: contents;
    position: relative;
    width: auto;
    height: auto;
    flex-direction: row;
    background-color: unset;
    overflow-y: visible;
  }
}
.header .nav.openMenu {
  transform: translateX(0);
  /* 開くときにスライドイン */
}
.header .nav--hidden {
  display: none;
  /* 初期状態で非表示にするクラス */
}
.header .nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  margin: 10em 0 0 1.875em;
}
@media (1100px <= width) {
  .header .nav__list {
    flex-direction: row;
    gap: 15px;
    margin: 0 0 0 1.875em;
  }
}
.header .nav__item {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.9375em;
}
.header .nav__item a {
  display: block;
  padding: 10px 15px 3px;
  transition: 0.3s;
}
.header .nav__item a:hover {
  scale: 1.1;
}
.header .nav__top {
  font-weight: bold;
}
.header .nav__sub {
  flex-direction: column;
  font-weight: normal;
  padding: 10px;
}
@media (1100px <= width) {
  .header .nav__sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff2e5;
    border: 1px solid #5f4c45;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
}
.header .nav__sub .nav__item a {
  white-space: nowrap;
  padding: 10px 20px;
}
@media (1100px <= width) {
  .header .nav__item.parent:hover .nav__sub {
    display: block;
    /* ホバー時にサブメニュー表示 */
  }
}

/* header メニューのボタン */
.header__menu {
  font-weight: bold;
  width: 100px;
  text-align: center;
  background-color: #f0dcc8;
  color: #5f4c45;
  border: 1px solid #5f4c45;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1500;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
@media (1100px <= width) {
  .header__menu {
    display: none;
    /* PCではメニューボタン非表示 */
  }
}
.header__menu:hover {
  background-color: #5f4c45;
  color: #f0dcc8;
}

.header .current {
  border-bottom: 2px solid #5f4c45;
}

/* footer */
.footer {
  color: #fff2e5;
  background-color: #5f4c45;
  padding: 5em 0;
}

.footer__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (1100px <= width) {
  .footer__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer__info {
  text-align: center;
}
@media (1100px <= width) {
  .footer__info {
    text-align: left;
    width: 27.0491803279%;
  }
}
.footer__info p {
  margin-top: 1.875em;
}

.footer__sns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (1100px <= width) {
  .footer__sns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer__sns a {
  display: block;
  margin: 1.875em 1.875em 0 0;
  text-align: left;
}
/* コンタクトボタン */
.footer__contact {
  width: 60px;
  height: auto;
  position: fixed;
  right: 20px;
  bottom: 25px;
  margin: 3.75em auto auto;
}

.footer__contact--sp {
  fill: #2f2923;
}
@media (1100px <= width) {
  .footer__contact--sp {
    display: none;
  }
}
.footer__contact--sp:hover {
  fill: #fff4ea;
}

.footer__contact--pc {
  width: 100px;
  display: none;
}
@media (1100px <= width) {
  .footer__contact--pc {
    width: 250px;
    display: block;
  }
}

.footer__balloon {
  width: 280px;
  height: 30px;
  padding-left: 0.1em;
  border-radius: 20px;
  border: solid 2px #96a385;
  background-color: #fff4ea;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%, 0%);
  pointer-events: none;
  transition: 0.2s;
  color: #2f2923;
  z-index: 2;
}

.footer__balloon::before,
.footer__balloon::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
}

.footer__balloon::before {
  bottom: 1px;
  border-width: 8px 5px 0 5px;
  border-color: #fff4ea transparent transparent transparent;
  z-index: 2;
}

.footer__balloon::after {
  bottom: 0;
  border-width: 11px 8px 0 8px;
  border-color: #96a385 transparent transparent transparent;
  z-index: 1;
}

.footer__btn {
  width: 100%;
  border-radius: 8px;
  line-height: 1;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #fff4ea;
  box-shadow: 0 5px 0 #67705b;
  color: #5f4c45;
  transition: 0.2s;
  padding: 10px;
}
@media (1100px <= width) {
  .footer__btn {
    padding: 25px 30px;
  }
}

.footer__contact--pc .footer__btn:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}

.footer__btn:hover {
  background: #6bc594;
  color: #fff4ea;
  box-shadow: 0 2px 0 #2c9d60;
  transform: translateY(3px);
}

.footer__nav {
  display: none;
  width: 51.6393442623%;
}
@media (1100px <= width) {
  .footer__nav {
    display: block;
  }
}

.footer .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer .nav__group {
  margin: 0 0 3.75em 3.75em;
  min-width: 12em;
}

.footer .nav__category {
  font-size: 1.265625rem;
  font-weight: bold;
  line-height: 0.6661184211;
  margin-bottom: 1.25em;
}

.footer .nav__item {
  margin-top: 0.9375em;
}
.footer .nav__item a {
  position: relative;
}
.footer .nav__item a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff2e5;
  bottom: -10px;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s;
}
.footer .nav__item a:hover::after {
  transform: scale(1, 1);
  transform-origin: left top;
}

/* top */
/* index hero */
#top .hero {
  background: url("../image/hero.jpg") no-repeat center center/cover;
  padding: 23.75rem 0 18.75rem; /* 380/16 = 23.75rem, 300/16 = 18.75rem */
}

/* WebP対応ブラウザの場合に上書き */
@supports (background-image: url("data:image/webp;base64,UklGRiIAAABXRUJQVlA4IC4AAACyAgCdASoEAAQAARAAAA==")) {
  #top .hero {
    background: url("../image/hero.webp") no-repeat center center/cover;
  }
}
.hero__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero__text p {
  font-family: "Zen Maru Gothic", "serif";
  color: #fff2e5;
  font-size: 2.0275rem;
  white-space: nowrap;
}

/* index about */
#top .about {
  margin-top: 7.5em;
}

#top .about__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#top .about__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
  white-space: nowrap;
}

#top .about__body {
  text-align: center;
  border: solid #ccc 40px;
  -o-border-image: url(../image/f0371_1.png);
     border-image: url(../image/f0371_1.png);
  border-image-slice: 100;
  display: inline-block;
  padding: 0.9375em;
}
@media (1100px <= width) {
  #top .about__body {
    padding: 1.875em;
  }
}

@supports (background-image: url("data:image/webp;base64,UklGRiIAAABXRUJQVlA4IC4AAACyAgCdASoEAAQAARAAAA==")) {
  #top .about__body {
    border: solid #ccc 40px;
    -o-border-image: url(../image/f0371_1.webp);
       border-image: url(../image/f0371_1.webp);
    border-image-slice: 100;
    display: inline-block;
  }
}
#top .about__text {
  margin: 3.125em auto 0 auto;
}
#top .about__text span {
  display: inline-block;
  line-height: 2.625;
}

#top .about .btn {
  display: inline-block;
  border: #5f4c45 3px solid;
  margin-top: 3.125em;
  white-space: nowrap;
}
#top .about .btn:hover {
  color: #fff2e5;
  background-color: #5f4c45;
}

/* index service */
#top .service {
  padding-top: 7.5em;
}

#top .service .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 175px;
  background-color: #fff4ea;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0 4px 0 #2f2923;
  margin-bottom: 3.75em;
  overflow: hidden;
}
#top .service .card:hover {
  transform: translateY(4px);
  box-shadow: none;
}
#top .service .card__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#top .service .card__img {
  height: auto;
  /* アスペクト比を維持 */
  border-radius: 4px;
  /* 画像の角を少し丸く */
  width: 120px;
  display: block;
}
#top .service .card__text {
  text-align: center;
  white-space: nowrap;
  margin-top: 15px;
}

#top #photo {
  border: #934d4d 4px solid;
}

#contest {
  border: #c47a5a 4px solid;
}

#trade {
  border: #d0ac7f 4px solid;
}

#dubbing {
  border: #96a385 4px solid;
}

#top .service__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#top .service__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}

@media (700px <= width) {
  #top .service__list {
    display: grid;
    /* グリッドレイアウトを有効化 */
    grid-template-columns: 1fr 1fr;
    /* 横に2列 */
    grid-gap: 20px;
    /* 要素間の隙間 */
    max-width: 800px;
    /* グリッド全体の幅を指定（必要に応じて調整） */
    margin: 0 auto;
    /* 中央揃え */
  }
}

#top .service__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* index gallery */
#top .gallery {
  margin-top: 7.5em;
}

#top .gallery__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: #698269 3px solid;
  border-radius: 50px;
  padding: 1.875em;
}

#top .gallery__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
  white-space: nowrap;
}
#top .gallery__body {
  margin-top: 1.875em;
}
@media (1100px <= width) {
  #top .gallery__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: flex-start;
  }
}

#top .gallery__text {
  margin-top: 1.875em;
}
@media (1100px <= width) {
  #top .gallery__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: column;
    width: 43.1147540984%;
    margin: 0 0 0 3.75em;
  }
}

@media (1100px <= width) {
  #top .gallery__img {
    width: 43.4426229508%;
  }
}

#top .gallery .btn {
  border: #698269 2px solid;
  display: block;
  margin-top: 1.875em;
  box-shadow: 0 4px 0 #2f2923;
}

#top .gallery .btn:hover {
  transform: translateY(4px);
  box-shadow: none;
}

/* index contact */
#top .contact {
  background: url("../image/contactBg.jpg") no-repeat center center/cover;
  color: #fdf4ec;
  margin-top: 7.5rem;
  padding: 7.5rem 0;
}
@media (1100px <= width) {
  #top .contact {
    text-align: center;
  }
}

/* WebP対応ブラウザでは上書き */
@supports (background-image: url("data:image/webp;base64,UklGRiIAAABXRUJQVlA4IC4AAACyAgCdASoEAAQAARAAAA==")) {
  #top .contact {
    background: url("../image/contactBg.webp") no-repeat center center/cover;
  }
}
#top .contact__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#top .contact__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}

#top .contact__text p {
  margin-top: 0.625em;
}

#top .contact .fa-phone {
  margin-right: 5px;
}

@media (1100px <= width) {
  #top .contact__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    margin-top: 3.75em;
  }
}

#top .contact .btn {
  width: 300px;
  color: #fefffc;
  background-color: #5f7080;
  transition: 0.4s;
  margin: 1.875em auto;
}
#top .contact .btn:hover {
  transform: scale(1.1);
}
@media (1100px <= width) {
  #top .contact .btn {
    margin: 1.25em;
  }
}

#top .contact .btn--tel {
  background-color: #934d4d;
}

/* index access */
#top .access {
  margin-top: 7.5em;
  padding-bottom: 9.375em;
}

#top .access__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#top .access__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}

@media (1100px <= width) {
  #top .access__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

#top .access__text p {
  margin-top: 2em;
}
@media (1100px <= width) {
  #top .access__text {
    width: 50%;
  }
}

#top .access__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;
  margin-top: 1.875em;
}
@media (1100px <= width) {
  #top .access__map {
    max-width: 50%;
  }
}
#top .access__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#top .access__heigh {
  max-width: 50%;
}

/* service　各種サービス共通部 */
/* mv（上部） */
.mv {
  padding-top: 7.5em;
}
@media (1100px <= width) {
  .mv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}
.mv__img {
  text-align: center;
  padding: 5em 0;
}
@media (1100px <= width) {
  .mv__img {
    width: 50%;
  }
}
.mv__img img {
  width: 220px;
  aspect-ratio: 1/1;
}
@media (1100px <= width) {
  .mv__img img {
    width: 400px;
  }
}
.mv__intro {
  color: #5f4c45;
  background-color: #fff8ee;
  padding: 3.75em 0;
}
@media (1100px <= width) {
  .mv__intro {
    width: 50%;
    padding: 11.875em 0;
  }
}
.mv__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 2.488125rem;
  font-weight: bold;
}
.mv__text {
  margin-top: 1.875em;
}
.mv__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* table （価格表） */
.table {
  border: 2px solid #5f4c45;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 6px;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* 項目名 */
  /* 価格と内容 */
}
.table__kinds {
  padding: 0.75em;
  border-bottom: 1px solid #5f4c45;
  color: #fff4ea;
  width: 300px;
}
.table__contents {
  padding: 0.75em;
  border-bottom: 1px solid #5f4c45;
  border-left: 1px solid #5f4c45;
}
.table__item:last-child th {
  border-bottom: none;
}
.table__item:last-child td {
  border-bottom: none;
}

/* unit */
.unit {
  background-color: #fff4ea;
  border-radius: 10px;
  padding: 1.875em;
  margin: 3.75em auto 0 auto;
  max-width: 400px;
}
.unit__img {
  max-width: 400px;
}
.unit__title {
  font-size: 1.5rem;
  margin-top: 1.4583333333em;
}
.unit__text {
  margin-top: 2.1875em;
}
.unit__price {
  font-size: 1.265625rem;
  border-top: 1px dashed rgba(95, 76, 69, 0.8);
  padding-top: 1.25em;
  margin-top: 1.7283950617em;
}

/* point */
.point {
  background-color: #698269;
  padding: 3.75em 0 9.375em;
  margin-top: 7.5em;
}
.point__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.point__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
  color: #fff4ea;
}
.point__list {
  margin-top: 3.75em;
}
.point__item {
  background-color: #f1dbbf;
  border-radius: 0 60px 0 60px;
  padding: 2.8125em;
  margin-top: 1.875em;
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.point__item p {
  margin-bottom: 0.9375em;
}
.point__item span {
  display: block;
  font-size: 1.42375rem;
  margin-right: 30px;
}

/* service photo */
#photo .mv__img {
  background-color: #934d4d;
  padding-bottom: 5.3em;
}

#photo .price {
  padding-top: 7.5em;
}
#photo .price__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#photo .price__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
  text-align: center;
}

#photo .table {
  margin-left: auto;
  margin-right: auto;
}
#photo .table__kinds {
  background-color: #934d4d;
}

#photo .set {
  padding-top: 7.5em;
}
#photo .set__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#photo .set__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
  text-align: center;
}
#photo .set__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#photo .option {
  padding-top: 7.5em;
}
#photo .option__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
  text-align: center;
}
#photo .option__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#photo .option__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/* service contest */
#contest .mv__img {
  padding-bottom: 5.375em;
  background-color: #c47a5a;
}

#contest .contest {
  padding: 7.5em 0 9.375em;
}
#contest .contest__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#contest .contest__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: flex-start;
  background-color: #fff4ea;
  border: #c47a5a 1px solid;
  border-radius: 0 40px 0 0;
  padding: 2.5em 1.875em;
}
#contest .contest__info {
  margin-top: 1.875em;
}
@media (1100px <= width) {
  #contest .contest__info {
    width: 45%;
    margin-left: 1.875em;
    margin-top: 0;
  }
}
#contest .contest__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}
#contest .contest__item a {
  color: #c47a5a;
  text-decoration: underline;
}
#contest .contest p {
  margin-bottom: 0.9375em;
}

/* service trade */
#trade .mv__img {
  display: block;
  background-color: #d0ac7f;
}
@media (1100px <= width) {
  #trade .mv__intro {
    padding: 12.5em 0;
  }
}

#trade .trade {
  color: #fff8ee;
  margin: 7.5em 0 9.375em;
}
#trade .trade__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#trade .trade__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}
#trade .trade__group {
  background-color: #5f7080;
  border-radius: 30px 0 0 0;
  padding: 1.875em;
  margin-top: 9.375em;
}
#trade .trade__group--in {
  background-color: #934d4d;
}
@media (1100px <= width) {
  #trade .trade__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (1100px <= width) {
  #trade .trade__about {
    width: 45%;
    margin-top: 0;
  }
}
#trade .trade__about em {
  font-weight: bold;
}
#trade .trade__text {
  margin-bottom: 1.875em;
}
#trade .trade__flow {
  width: 45%;
}
@media (1100px <= width) {
  #trade .trade__flow {
    margin-top: 0;
  }
}

#trade .btn {
  display: block;
  color: #2f2923;
  border: #2f2923 2px solid;
  box-shadow: 0 4px 0 #2f2923;
  background-color: #fff4ea;
  margin-top: 7.5em;
}
#trade .btn:hover {
  transform: translateY(4px);
  box-shadow: none;
}

/* service dubbing */
#dubbing .mv__img {
  background-color: #96a385;
}
@media (1100px <= width) {
  #dubbing .mv__intro {
    padding: 11.7em 0;
  }
}

#dubbing .price {
  padding: 7.5em 0 0;
}
#dubbing .price__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#dubbing .price__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
  text-align: center;
}

#dubbing .table {
  margin-left: auto;
  margin-right: auto;
}
#dubbing .table__kinds {
  background-color: #96a385;
}

#dubbing .btn {
  display: block;
  color: #2f2923;
  border: #2f2923 2px solid;
  box-shadow: 0 4px 0 #2f2923;
  background-color: #fff4ea;
  margin-top: 7.5em;
}
#dubbing .btn:hover {
  transform: translateY(4px);
  box-shadow: none;
}

/* about 店舗について */
#about .content {
  background-color: #fff4ea;
  padding-top: 7.5em;
  /* 以下mvのアニメーション　１行ずつふわっと表示（フェードイン） */
}
@media (1100px <= width) {
  #about .content__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
#about .content__img {
  width: 100%;
}
@media (1100px <= width) {
  #about .content__img {
    width: 50%;
  }
}
#about .content__text {
  text-align: center;
  padding-bottom: 3.75em;
}
@media (1100px <= width) {
  #about .content__text {
    text-align: left;
    padding-left: 1.875em;
    width: 50%;
    padding-bottom: 0;
  }
}
#about .content__text p {
  margin-top: 1.25em;
}
#about .content__catch {
  font-size: 1.601875rem;
}
@media (1100px <= width) {
  #about .content .sp {
    display: none;
  }
}
#about .content__text p {
  transition: 1s;
  opacity: 0;
  transform: translateY(20px);
  display: block;
}
#about .content__text p:nth-child(1) {
  -webkit-animation: catch_anime 1.4s forwards 1s;
          animation: catch_anime 1.4s forwards 1s;
}
#about .content__text p:nth-child(2) {
  -webkit-animation: catch_anime 1.4s forwards 2s;
          animation: catch_anime 1.4s forwards 2s;
}
#about .content__text p:nth-child(3) {
  -webkit-animation: catch_anime 1.4s forwards 3s;
          animation: catch_anime 1.4s forwards 3s;
}
#about .content__text p:nth-child(4) {
  -webkit-animation: catch_anime 1.4s forwards 4s;
          animation: catch_anime 1.4s forwards 4s;
}
#about .content__text p:nth-child(5) {
  -webkit-animation: catch_anime 1.4s forwards 5s;
          animation: catch_anime 1.4s forwards 5s;
}
#about .content__text p:nth-child(6) {
  -webkit-animation: catch_anime 1.4s forwards 6s;
          animation: catch_anime 1.4s forwards 6s;
}
@-webkit-keyframes catch_anime {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes catch_anime {
  0% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#about .staff {
  background-color: #7f9783;
  padding: 7.5em 0 7.5em;
  /* 以下アニメーション　下からふわっと表示（フェードイン） */
}
#about .staff__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#about .staff__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}
#about .staff__list {
  opacity: 0;
}
@media (1100px <= width) {
  #about .staff__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
#about .staff__item {
  padding: 1.875em;
  width: 320px;
  margin-bottom: 3.75em;
}
@media (1200px <= width) {
  #about .staff__item {
    margin: 0 1.875em 0 0;
  }
}
#about .staff__img {
  width: 320px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
#about .staff__img--mariko {
  -o-object-position: 0px -170px;
     object-position: 0px -170px;
}
#about .staff .show {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}
@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#about .info {
  padding: 7.5em 0 9.375em 0;
}
#about .info__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#about .info__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}
@media (1100px <= width) {
  #about .info__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
#about .info__text {
  margin-bottom: 3.75em;
}
@media (1100px <= width) {
  #about .info__text {
    width: 50%;
  }
}
#about .info__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: solid 1px rgba(95, 76, 69, 0.8);
  width: 500px;
  padding-bottom: 1.25em;
  margin-top: 1.875em;
}
#about .info__label {
  width: 130px;
}

#about .btn {
  background-color: #f0dcc8;
  border: #5f4c45 2px solid;
  border-radius: 25px;
  width: 250px;
  transition: 0.4s;
  margin: 1.875em auto 0 auto;
}
#about .btn:hover {
  transform: scale(1.1);
}

/* ギャラリー */
#galleryPage .galleryPage__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 7.5em 0 9.375em 0;
}

#galleryPage .now {
  padding-top: 7.5em;
}
@media (1100px <= width) {
  #galleryPage .now {
    width: 50%;
  }
}
#galleryPage .now__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#galleryPage .now__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}

#galleryPage .past {
  padding-top: 7.5em;
}
@media (1100px <= width) {
  #galleryPage .past {
    width: 40%;
  }
}
#galleryPage .past__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#galleryPage .past__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}
#galleryPage .past__item {
  width: 40%;
  margin-right: 3.75em;
  margin-bottom: 3.75em;
}
#galleryPage .past__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
}

#galleryPage .btn {
  display: block;
  color: #2f2923;
  border: #2f2923 2px solid;
  box-shadow: 0 4px 0 #2f2923;
  background-color: #fff4ea;
  margin-top: 7.5em;
}
#galleryPage .btn:hover {
  transform: translateY(4px);
  box-shadow: none;
}

/* contact お問い合わせフォーム*/
#contact .contact {
  padding: 15em 0 9.375em;
}
#contact .contact__inner {
  width: 89.7435897436%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#contact .contact__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}
#contact .contact__kind {
  color: #fff2e5;
  background-color: #934d4d;
  padding: 0.3125em 0.625em;
  text-align: center;
  flex: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  margin-bottom: 0.9375em;
  font-size: 0.9375rem;
}
#contact .contact .wpcf7-submit {
  display: block;
  text-align: center;
  width: 250px;
  line-height: 1;
  font-weight: bold;
  background-color: #fff4ea;
  border: #5f4c45 1px solid;
  border-radius: 15px;
  box-shadow: 0 4px 0 #000;
  padding: 1.25em 2.5em;
  margin: 7.5em auto 0 auto;
}
#contact .contact .wpcf7-submit:hover {
  transform: translateY(4px);
  box-shadow: none;
}
#contact .contact .wpcf7-textarea {
  height: 300px;
  padding: 16px;
}
#contact .contact input,
#contact .contact textarea {
  width: 100%;
  background-color: #fff4ea;
  border: 1px solid #5f4c45;
  border-radius: 10px;
  height: 3.75em;
  padding-left: 16px;
}
#contact .contact label {
  display: block;
  margin-top: 3.75em;
}

/* contact 確認ページ */
.cnf {
  padding: 15em 0 9.375em;
}
.cnf__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.cnf__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}
.cnf__text {
  font-weight: bold;
  color: #934d4d;
  margin-top: 0.9375em;
}
.cnf__label {
  display: block;
  margin-top: 3.75em;
}
.cnf__kind {
  color: #fff2e5;
  background-color: #934d4d;
  padding: 0.3125em 0.625em;
  text-align: center;
  flex: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  margin-bottom: 0.9375em;
  font-size: 0.9375rem;
}
.cnf__button p {
  margin-top: 1.875em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}
.cnf .wpcf7-form-control.wpcf7-previous {
  display: block;
  background-color: #fff4ea;
  border: #5f4c45 1px solid;
}
.cnf .wpcf7-form-control.wpcf7-submit.has-spinner {
  display: block;
  background-color: #934d4d;
  border: #5f4c45 1px solid;
  color: #fff4ea;
  min-width: 100px;
}
.cnf .wpcf7-form-control {
  display: block;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  box-shadow: 0 4px 0 #000;
  padding: 1.25em 2.5em;
  border-radius: 15px;
}
.cnf .wpcf7-form-control:hover {
  transform: translateY(4px);
  box-shadow: none;
}

/* contact  サンクスページ */
.thanks {
  text-align: center;
  background: url(../image/thanksBG.jpg) no-repeat center center/cover;
  padding: 16.875em 0;
}
.thanks__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.thanks__body {
  width: 100%;
  border: solid #ccc 50px;
  -o-border-image: url(../image/f1511_3.svg);
     border-image: url(../image/f1511_3.svg);
  border-image-slice: 100 fill;
  display: inline-block;
  padding: 30px;
}
.thanks__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
  white-space: nowrap;
}
.thanks .btn {
  border: #698269 2px solid;
  display: inline-block;
  box-shadow: 0 4px 0 #2f2923;
  white-space: nowrap;
  margin-top: 3.75em;
}
.thanks .btn:hover {
  transform: translateY(4px);
  box-shadow: none;
}
.thanks__text p {
  margin-top: 0.9375em;
}
@supports (background-image: url(../images/thanksBG.webp)) {
  .thanks .thanks {
    background-image: url(../images/thanksBG.webp) no-repeat center center/cover;
    padding: 9.375em 0;
  }
}

/* 404ページ */
.error {
  background: url(../image/404bg.jpg) no-repeat center center/cover;
  text-align: center;
  padding: 20em 0;
}
.error__inner {
  width: 89.7435897436%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(245, 242, 229, 0.9);
  padding: 1.875em;
}
.error__title {
  font-family: "Zen Maru Gothic", "serif";
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  margin-bottom: 1.0416666667em;
}
.error__text p {
  margin-top: 0.9375em;
}
.error .btn {
  display: inline-block;
  border: #5f4c45 2px solid;
  box-shadow: 0 4px 0 #2f2923;
  margin-top: 1.875em;
}
.error .btn:hover {
  transform: translateY(4px);
  box-shadow: none;
}
@supports (background-image: url(../images/404bg.webp)) {
  .error .error {
    background: url(../image/404bg.webp) no-repeat center center/cover;
    padding: 12.5em 0;
  }
}
/*# sourceMappingURL=style.css.map */